* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #F5F5F5, #764ba2);
    padding: 10px;
    background-image: url(https://i.pinimg.com/474x/d6/a6/92/d6a692fc1e0489955e2b4ed4ae742c76.jpg);
    
}
.todo-app {
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1); /* Transparent white */
    backdrop-filter: blur(10px); /* Adds a frosted glass effect */
}
.todo-app h2 {
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
    
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    height: 100%;
    width: 450px;
    padding-left: 10px;
    background-color: rgb(0, 0, 0, 0.688);
    border: 1px solid rgb(94, 94, 94);
    color: rgb(183, 183, 183);
   
}
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
    color: white;
}
button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-image: url('Assets/unchecked.png');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked {
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before {
    background-image: url('Assets/checked.png');
}
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
ul li span:hover {
    background: #edeef0;
}
